	<footer>
       
	</footer>
    <script src="js/project.js"></script>
    <script src="js/mongolab.js"></script>
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- Main js file -->
    <script src="js/main.js"></script>

    <!-- Page specific js files -->
    <script src="js/home.js"></script>
        
    </body>
</html>