<% include partials/header %>


	<div class="container main-container home-container">
		<div class="pad">
			<div>
				<div>контент лицевого листа</div>
				<div>
					<div>контент второго листа</div>
				</div>
				<div>
					<div>контент первого листа</div>
				</div>
			</div>
		</div>
	</div>


<% include partials/footer %>