<% include partials/header %>


	<div class="container main-container home-container">
		<div id="main-slider" class="carousel vertical slide carousel-fade main-slider hidden-xs" data-ride="carousel">
              
	    <div class="carousel-inner">
	        
	        <div class="item active" style="background-image:url('img/slide1.jpg')">
	            <!-- <div class="main-slide-body">
	                <div class="main-slide-title"> 
	                    <h1>
	                      
	                    </h1>                        
	                </div>
	                <div class="main-slide-description">
	                </div>
	                <div class="main-slide-action-container">
	                    <a class="main-slide-action-btn" href="#">
	                        Book your adventure 
	                    </a>
	                </div>
	            </div> -->
	        </div>

	        <div class="item" style="background-image:url('img/slide2.jpg')">
	            
	        </div>

	        <div class="item" style="background-image:url('img/slide3.jpg')">
	            
	        </div>

	        <div class="item" style="background-image:url('img/slide4.jpg')">
	            
	        </div>
	        <div class="item" style="background-image:url('img/slide5.jpg')">
	            
	        </div>

	    </div>

	    <div class="arrow arrow-up" 
	            href="#main-slider" 
	            data-slide="prev">
	        <i class="fa fa-angle-up"></i>
	    </div>
	    <div class="arrow arrow-down" 
	            href="#main-slider" 
	            data-slide="next">
	        <i class="fa fa-angle-down"></i>
	    </div>


	    <!-- Pagination -->
	    <ol class="carousel-indicators hidden-xs">
	        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
	        <li data-target="#main-slider" data-slide-to="1"></li>
	        <li data-target="#main-slider" data-slide-to="2"></li>
	        <li data-target="#main-slider" data-slide-to="3"></li>
	        <li data-target="#main-slider" data-slide-to="4"></li>
	        <li data-target="#main-slider" data-slide-to="5"></li>
	    </ol> 

	</div>		
	</div>


<% include partials/footer %>