<% include partials/header %>

	<div class="container main-container home-container">

		<div clas="form-group">
			<label>Имя:</label>
			<input type="text" class="form-control" ng-model="yourName" placeholder="Введите свое имя">
			<hr>
			<h1>Привет {{yourName}}!</h1>
		</div>
		<h2>Список дел</h2>
		<div ng-controller="TodoCtrl">
			<span>Осталось {{remaining()}} из {{todos.length}}</span>
			[ <a href="" ng-click="archive()">архив</a> ]
			<ul class="unstyled">
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodo()">
				<input type="text" class="form-control" ng-model="todoText" size="30"
				placeholder="впишите новое дело">
				<button class=" btn btn-primary" type="submit" value="">добавить</button>
			</form>
		</div>

		
		<h2>JavaScript-проекты</h2>
		<div ng-view></div>
		
	</div>
	

<% include partials/footer %>