/* About page specific styles */
.test {
	width: 300px;
	height: 200px;
	background: red;
	color: #fff;
	font-size: 50px;
	text-align: center;

}
.about-container {
	div.pad {
		width:600px; 
		height:480px; 
		padding:45px; 
		margin:20px auto; 
		position:relative; 
		overflow:hidden; 
		background:#000;
		background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.3)));
		background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
		background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
		background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
		background-image:linear-gradient(top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.2) 50%, transparent 50%, rgba(255, 255, 255, 0.3) 100%);
	}

	div.pad > div {
		width:300px; 
		height:480px; 
		position:relative; 
		float:right;
	}
	div.pad > div > div:nth-of-type(1) {
		width:300px; 
		height:400px; 
		position:absolute; 
		left:0; top:40px; 
		background-image: url(http://www.avatars-mania.com/images/Animaux/Animaux%20sauvages/fonds/fond%20d%20ecran%20tigre.%20Tiger%20wallpaper.jpg);
		background-size: cover;
		background-position: center;

		transform: skewy(-15deg); 
		-o-transform: skewy(-15deg); 
		-moz-transform: skewy(-15deg); 
		-webkit-transform: skewy(-15deg); 
		-webkit-transition: 2.0s ease-in-out;
		-moz-transition: 2.0s ease-in-out;
		-ms-transition: 2.0s ease-in-out;
		-o-transition: 2.0s ease-in-out;
		transition: 2.0s ease-in-out;
	}

	div.pad > div > div:nth-of-type(2) {
		width:300px; 
		height:550px; 
		position:absolute; 
		left:0; 
		top:0; 
		overflow:hidden;
		-webkit-transform: rotate(-49deg);
		-moz-transform: rotate(-49deg);
		-ms-transform: rotate(-49deg);
		-o-transform: rotate(-49deg);
		transform: rotate(-49deg);
		-webkit-transform-origin: 0 -260px;
		-moz-transform-origin: 0 -260px;
		-ms-transform-origin: 0 -260px;
		-o-transform-origin: 0 -260px;
		transform-origin: 0 -260px;
		-webkit-transition: 2.0s ease-in-out;
		-moz-transition: 2.0s ease-in-out;
		-ms-transition: 2.0s ease-in-out;
		-o-transition: 2.0s ease-in-out;
		transition: 2.0s ease-in-out;
	}

	div.pad > div > div:nth-of-type(2) div {
		width:300px; 
		height:400px; 
		position:absolute; 
		left:0; top:80px; 
		background:#ddd;
		transform: rotate(49deg) skewy(-15deg); 
		-o-transform: rotate(49deg) skewy(-15deg);
		-moz-transform: rotate(49deg) skewy(-15deg); 
		-webkit-transform: rotate(49deg) skewy(-15deg); 
		-webkit-transform-origin: 0 -340px;
		-moz-transform-origin: 0 -340px;
		-ms-transform-origin: 0 -340px;
		-o-transform-origin: 0 -340px;
		transform-origin: 0 -340px;
		-webkit-transition: 2.0s ease-in-out;
		-moz-transition: 2.0s ease-in-out;
		-ms-transition: 2.0s ease-in-out;
		-o-transition: 2.0s ease-in-out;
		transition: 2.0s ease-in-out;
	}

	div.pad > div > div:nth-of-type(3) {
		width:300px; 
		height:550px; 
		position:absolute; 
		left:-300px; 
		top:-10px; 
		overflow:hidden;
		-webkit-transform-origin: 300px -260px;
		-moz-transform-origin: 300px -260px;
		-ms-transform-origin: 300px -260px;
		-o-transform-origin: 300px -260px;
		transform-origin: 300px -260px;
		-webkit-transform: rotate(-49deg);
		-moz-transform: rotate(-49deg);
		-ms-transform: rotate(-49deg);
		-o-transform: rotate(-49deg);
		transform: rotate(-49deg);
		-webkit-transition: 2.0s ease-in-out;
		-moz-transition: 2.0s ease-in-out;
		-ms-transition: 2.0s ease-in-out;
		-o-transition: 2.0s ease-in-out;
		transition: 2.0s ease-in-out;
	} 

	div.pad > div > div:nth-of-type(3) div {
		width:300px; 
		height:400px; 
		position:absolute; 
		left:0; 
		top:90px; 
		background:#eee;
		transform: rotate(-49deg) skewy(15deg); 
		-o-transform: rotate(-49deg) skewy(15deg);
		-moz-transform: rotate(-49deg) skewy(15deg); 
		-webkit-transform: rotate(-49deg) skewy(15deg); 
		-webkit-transform-origin: 300px -340px;
		-moz-transform-origin: 300px -340px;
		-ms-transform-origin: 300px -340px;
		-o-transform-origin: 300px -340px;
		transform-origin: 300px -900px;
		-webkit-transition: 2.0s ease-in-out;
		-moz-transition: 2.0s ease-in-out;
		-ms-transition: 2.0s ease-in-out;
		-o-transition: 2.0s ease-in-out;
		transition: 2.0s ease-in-out;
	} 


	div.pad > div:hover > div:nth-of-type(1) {
		top:80px;
		-webkit-transform: rotate(0deg) skewy(0deg);
		-moz-transform: rotate(0deg) skewy(0deg);
		-ms-transform: rotate(0deg) skewy(0deg);
		-o-transform: rotate(0deg) skewy(0deg);
		transform: rotate(0deg) skewy(0deg);
	}


	div.pad > div:hover > div:nth-of-type(2) {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	div.pad > div:hover > div:nth-of-type(2) div {
		-webkit-transform: rotate(0deg) skewy(0deg);
		-moz-transform: rotate(0deg) skewy(0deg);
		-ms-transform: rotate(0deg) skewy(0deg);
		-o-transform: rotate(0deg) skewy(0deg);
		transform: rotate(0deg) skewy(0deg);
	}

	div.pad > div:hover > div:nth-of-type(3) {
		-webkit-transform-origin: 310px -260px;
		-moz-transform-origin: 310px -260px;
		-ms-transform-origin: 310px -260px;
		-o-transform-origin: 310px -260px;
		transform-origin: 310px -260px;

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	div.pad > div:hover > div:nth-of-type(3) div  {
		-webkit-transform: rotate(0deg) skewy(0deg);
		-moz-transform: rotate(0deg) skewy(0deg);
		-ms-transform: rotate(0deg) skewy(0deg);
		-o-transform: rotate(0deg) skewy(0deg);
		transform: rotate(0deg) skewy(0deg);
	}

	div.pad > div > div:nth-of-type(1) img {
		display:block; margin:75px auto;
	}
	div.pad > div > div:nth-of-type(2) div img {
		padding-top:35px; float:left;
	}
	div.pad > div > div:nth-of-type(3) div img {
		padding-top:35px; float:right;
	}

}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.about-container {

	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.about-container {

	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.about-container {

	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.about-container {

	}
}