/* Home page specific styles */

.home-container {
	width: 100%;
	height: 100%;
	padding: 0;
	min-height: 100%;
	.carousel-inner  {
		height: 100%;
	min-height: 100%;
	}
	.main-slider {
		min-height: 100%;
		height: 100%;
		.item {
			min-height: 100%;
			background-size: cover;
			background-position: center;
			background-size: cover;
		}
	}
	.carousel.vertical .item {
	  -webkit-transition: 0.6s ease-in-out top;
	     -moz-transition: 0.6s ease-in-out top;
	      -ms-transition: 0.6s ease-in-out top;
	       -o-transition: 0.6s ease-in-out top;
	          transition: 0.6s ease-in-out top;
	}

	.carousel.vertical .active {
	  top: 0;
	}

	.carousel.vertical .next {
	  top: 100%;
	}

	.carousel.vertical .prev {
	  top: -100%;
	}

	.carousel.vertical .next.left,
	.carousel.vertical .prev.right {
	  top: 0;
	}

	.carousel.vertical .active.left {
	  top: -100%;
	}

	.carousel.vertical .active.right {
	  top: 100%;
	}

	.carousel.vertical .item {
		left: 0;
	}
	.carousel-indicators {
		width: 20px;
		bottom: auto;
		left: auto;
		right: 20px;
		top: 50%;
		margin: 0;
		margin-top: -40px;
		li {
			display: block;
			margin-bottom: 10px;
		}
	}
	.arrow {
		position: absolute;
		left: 50%;
		width: 45px;
		height: 45px;
		cursor: pointer;
		margin-left: -22px;
		line-height: 45px;
		text-align: center;
		color: #fff;
		font-size: 30px;
		i {
			line-height: 1px;
		}
		.rounded(50%);
		border: 2px solid #fff;
		&.arrow-up {
			top: 0;
			line-height: 37px;
			margin-top: 20px;
		}	
		&.arrow-down {
			bottom: 0;
			margin-bottom: 20px;
		}
	}
}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.home-container {

	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.home-container {

	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.home-container {

	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.home-container {

	}
}